.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 {
  font-size: 2rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr)); /* 2×480 px ≈ 960 px */
  gap: 2rem;
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2% 0; 
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.5rem;
  border: 1px solid #eaeaea;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: transform .12s;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,.06);
  text-decoration: none;
}
.card h3 { margin: 0 0 .5rem; }
.card p  { 
  margin: 0;
  color: #555; 
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  float: right;
}

.title {
  float: left;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container h1 {
    font-size: 1.5rem;
  }
}

.secondaryLink{
  text-align: right;
  line-height: 3;
  font-style: italic;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}